<div class="d-flex justify-content-between mt-4">
  <h1>Teams</h1>
  <div>
    <%= link_to "New Team", new_team_path, class: "btn btn-primary" %>
  </div>
</div>

<div id="users">
  <table class="table table-sm table-hover mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Club</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team %></td>
          <td><%= team.club %></td>
          <td><%= link_to team.users.count, users_path({team_id: team.id}) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>