<div id="<%= dom_id(@volleyball_set, :players) %>">
  <div class="list-group mb-2">
    <% if @players.any? %>
      <%= render Players::ListItemComponent.with_collection(@players) %>
    <% else %>
      <li class="list-group-item disabled">No players for this set</li>
    <% end %>
  </div>
  <p class="mt-2 mb-0">Add Player</p>
  <%= render Players::FormComponent.new(player: @new_player) %>
</div>
