<div id="<%= dom_id game %>">
  <p>
    <strong>Team:</strong>
    <%= game.team_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

</div>
