<%= turbo_frame_tag :events do %>
  <ul class="list-group mt-4" id="eventList">
    <% @events.reverse_each do |event| %>
      <li class="list-group-item" id="<%= dom_id(event) %>"><%= event %></li>
    <% end %>
  </ul>
<% end %>