<div id="<%= dom_id volleyball_set %>">
  <p>
    <strong>Game:</strong>
    <%= volleyball_set.game_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= volleyball_set.team_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= volleyball_set.order %>
  </p>

</div>
