<h1>Editing volleyball set</h1>

<%= render "form", volleyball_set: @volleyball_set %>

<br>

<div>
  <%= link_to "Show this volleyball set", @volleyball_set %> |
  <%= link_to "Back to volleyball sets", volleyball_sets_path %>
</div>
