<div class="mt-4">
  <h1 class="mb-0"><%= @volleyball_set.game %> <span class="text-muted">Set <%= @volleyball_set.order %></span></h1>
  <small class="text-muted"><%= @volleyball_set.game.date.strftime("%Y-%m-%d") %>
</div>

